notifications:
  email:
    recipients:
      - kaushikrohit325@gmail.com
      - rohangoel0296@gmail.com
      - tsrkp@goa.bits-pilani.ac.in 
      - f2015675@goa.bits-pilani.ac.in
    on_success: change
    on_failure: always

language: python
python:
  - "2.7"

# command to install dependencies
install:
  - pip install -U pip wheel
  - pip install scipy
  - pip install sphinx
  - pip -v install -e .
  - python -m nltk.downloader wordnet

script:
  - cd test && python -m unittest -v tests
  - cd .. &&  bash ext/doc_auto_deploy.sh

after_success:
  - coverage run test/tests.py && codeclimate-test-reporter --file .coverage --token $CODECLIMATE_REPO_TOKEN
  - echo $CODECLIMATE_REPO_TOKEN
  # - mprof clean && mprof run python -m unittest -v tests && cd ../maintenance && python memory_profiler.py && echo "FOR UPDATED MEMORY CONSUMPTION, see image:" && curl -F "clbin=@memory_consumption.png" https://clbin.com