notifications:
  email:
    recipients:
      - kaushikrohit325@gmail.com
      - rohangoel0296@gmail.com
      - tsrkp@goa.bits-pilani.ac.in 
      - f2015675@goa.bits-pilani.ac.in
    on_success: change
    on_failure: always

language: python
python:
  - "2.7"

# command to install dependencies
install:
  - pip install -U pip wheel
  - pip install scipy
  - pip install sphinx
  - pip -v install -e .
  - python -m nltk.downloader wordnet

script:
  - cd test
  - python -m unittest tests
  - cd ..
  - bash deploy.sh
